.page.theme_light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-shadow-color: #ff0070;
  --main-text-color: #353430;
  --subtitle-color: #353430;
  --main-title-color: #ffc2e6;
  background-color: var(--bg-color);
  background-image: url("../images/cover-image-light.png");
}

.page.theme_light .rec {
  display: none;
}

.page.theme_light .decorated-zone::before {
  border-inline-end: 1px solid var(--main-text-color);
  border-block-start: 1px solid var(--main-text-color);
}

.page.theme_light .decorated-zone::after {
  border-inline-start: 1px solid var(--main-text-color);
  border-block-end: 1px solid var(--main-text-color);
}

.page.theme_light .header__theme-menu-list {
  color: var(--main-text-color);
}

.page.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.page.theme_light .header__title {
  text-shadow: 4px 4px 0 var(--accent-shadow-color);
}

.page.theme_light .footer__title {
  text-shadow: 4px 4px 0 var(--accent-shadow-color);
}

.page.theme_light .section__title {
  color: var(--main-text-color);
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --accent-shadow-color: #ff0070;
    --main-text-color: #353430;
    --subtitle-color: #353430;
    --main-title-color: #ffc2e6;
    background-color: var(--bg-color);
    background-image: url("../images/cover-image-light.png");
  }

  .page:not(.theme_dark) .rec {
    display: none;
  }

  .page:not(.theme_dark) .decorated-zone::before {
    border-inline-end: 1px solid var(--main-text-color);
    border-block-start: 1px solid var(--main-text-color);
  }

  .page:not(.theme_dark) .decorated-zone::after {
    border-inline-start: 1px solid var(--main-text-color);
    border-block-end: 1px solid var(--main-text-color);
  }

  .page:not(.theme_dark) .header__theme-menu-list {
    color: var(--main-text-color);
  }

  .page:not(.theme_dark) .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }

  .header__title {
    text-shadow: 4px 4px 0 var(--accent-shadow-color);
  }

  .footer__title {
    text-shadow: 4px 4px 0 var(--accent-shadow-color);
  }

  .page:not(.theme_dark) .section__title {
    color: var(--main-text-color);
  }
}