.page.theme_light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-shadow-color: #ff0070;
  --main-text-color: #353430;
  --subtitle-color: #353430;
  --main-title-color: #ffc2e6;
  background-color: var(--bg-color);
  background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --accent-shadow-color: #ff0070;
    --main-text-color: #353430;
    --subtitle-color: #353430;
    --main-title-color: #ffc2e6;
    background-color: var(--bg-color);
    background-image: url("../images/cover-image-light.png");
  }
}
